@font-face {
    font-family: "HarmoniaSansProCyr-Regular";
    src: url("/fonts/HarmoniaSansProCyr-Regular.ttf");
}

@font-face {
    font-family: "HarmoniaSansProCyr-Bold";
    src: url("/fonts/HarmoniaSansProCyr-Bold.ttf");
}

.root {
    -fx-font-size: 13pt;
    -fx-font-family: "HarmoniaSansProCyr-Regular";
}

.header-label {
    -fx-font-size: 36pt;
    -fx-font-family: "HarmoniaSansProCyr-Bold";
}

.form-text-field {
    -fx-max-width: 270px;
}

.text-field, .combo-box {
    -fx-focus-color: #00305f;
    -fx-faint-focus-color: #00305f22;
    -fx-background-color: white;
    -fx-border-color: #cfcfcf;
    -fx-border-radius: 5px;
}

.radio-button .radio {
    -fx-focus-color: #00305f;
    -fx-faint-focus-color: #00305f22;
    -fx-background-color: white;
    -fx-border-color: #cfcfcf;
    -fx-border-radius: 100%;
}

.form-button {
    -fx-background-color: #00305f;
    -fx-text-fill: white;
}
